<h1>Create a Channel</h1>

<% unless current_user.channel.nil? %>
<div class="Error">
  If you register a new channel, the current will be removed.
</div>
<% end %>

<% form_for :channel, :url => { :action => :create } do |f| -%>
  <%= f.text_field :code %>
  
  <button type="submit">Create channel</button>
<% end -%>