
ul.vertical { padding: 0; }
ul.vertical li { list-style: none; }

.fields > .box > .left, .fields .farrow { color: #000000; }
.fields .box { padding: 5px; position: relative; }
.fields hr { margin: 9px 0px 5px 0px; }
.fields .aleft { clear: left; float: left; }

.fields .farrow { height: 18px;  left: -4px; position: relative; margin-bottom: 0px; }

.fields .fdelete, .fields .cadd { position: absolute; top: 0; right: 0; }

.fields .orange { margin-bottom: 7px; }
.fields .add_fields { display: block; margin: 2px 0; color: #2d79c4; }

.fields pre { font-family: Arial, Helvetica, sans-serif; margin: 0; white-space: pre-wrap; }

.fields .actions { padding: 0px 0px; }

.subscribersBox { width: 283px; height: 38px; padding: 0px 1px 0px 3px; }
.csvDownload { height: 32px !important; width: 134px; margin-top: 3px; }
.subscribersCount { font-size: 23px; height: 23px; }
.subscribersBox > div { font-size: 11px; text-align: center;}

.CleanTable th {
  padding-bottom: 7px;
}

.CleanTable tr:nth-child(2) td > a.cremove {
	margin-top: 11px;
	margin-bottom: 0px;
}

.ItemsTable tr:last-child td {
	padding-bottom: 1px;
}

.ItemsTable td > a.cremove {
	margin-top: 1px;
	margin-bottom: 0px;
	padding-top: 0px;
}

.ItemsTable td > a.cadd {
	margin-top: 1px;
	margin-bottom: 0px;
	padding-top: 0px;
}

.LocalGatewayLogo {	
   	background: url(http://theme.instedd.org/theme/images/interface/logos/nuntiumLocalGateway.png);
    background-repeat: no-repeat;
    width: 107px;
    height: 40px;
    padding-top: 0px;
    margin-top: 3px;
}

.LocalGatewayText {
	padding-top: 14px;
	font-size:12px;
	color: #555555;
}

.LocalGatewayText > a {
	color: black
}

.LocalGatewayArrow {
    background: url(http://theme.instedd.org/theme/images/interface/logos/nuntiumLocalGateway.png);
    background-repeat: no-repeat;
    width: 6px;
    height: 40px;
    padding-top: 0px;
}

.LocalGatewayBox {
	height:40px;
	padding-left: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	padding-right: 3px;
	border-top-width: 0px;
	width: 615px;
}

.user_channel {
	margin-top: 21px;
}

.LocalGatewayBox > a.button {
	padding-left: 8px !important;
	font-size: 14px;
}

.ChannelWizard > h1 {
	color: #ff6600;
	font-size: 20px;
	margin-bottom: 20px;
}

.ChannelWizard > p , .ChannelWizard > div, .ChannelWizard > a {
	font-size:12px;
	color: #555555;
}

.ChannelWizard > p {
	margin-top: 15px !important;
}

.ChannelWizard .description {
	margin-left: 26px;
	padding-top: 4px;
}


.ChannelWizard > a.fimport {
	color: #000000;
}

.ChannelWizard > input {
	left-margin: 0px;
}

.ChannelWizard > label {
	font-size: 15px;
}
.ChannelWizard .AndroidLogo {
   	background: url(/images/android.png);
    background-repeat: no-repeat;
    width: 37px;
    height: 35px;
	margin-left: 5px;
	margin-top: -10px;
}

.ChannelWizard .DesktopLogo {
   	background: url(/images/pc.png);
    background-repeat: no-repeat;
    width: 37px;
    height: 30px;
	margin-left: 5px;
	margin-top: -4px;
}

.ChannelWizard {
	margin-top: 27px;
	height: 430px;
}

.ChannelWizard .AndroidQR{
   	background: url(/images/android_local_gateway.png);
    background-repeat: no-repeat;
    width: 270px;
    height: 270px;
}

.ChannelWizard .box {
	padding: 1px 2px;
	color: black;
}

.ChannelWizard .AndroidScreen{
   	background: url(/images/androidPreview.png);
    background-repeat: no-repeat;
    width: 254px;
    height: 375px;
}

.ChannelWizard .GreyArrow{
   	background: url(/images/arrow.png);
    background-repeat: no-repeat;
    width: 46px;
    height: 17px;
}

.ChannelWizard .DesktopScreen{
   	background: url(/images/pcPreview.png);
    background-repeat: no-repeat;
    width: 258px;
    height: 374px;
}

.ChannelWizard .AndroidArrow {
	margin-top: 115px;
}

.ChannelWizard .DesktopArrow {
	margin-top: 254px;
}

.ChannelWizard .DesktopChannelCreation {
	margin-top: 160px;
	margin-left: 5px;
}

.ChannelWizard .AndroidChannelCreation {
	margin-left: 5px;
	margin-top: 21px;
}
.ChannelWizardNavigation {
	margin-top: 16px;
	margin-bottom: 7px;
}

.ChannelWizard .ChannelConfigured{
   	background: url(/images/finish.png);
    background-repeat: no-repeat;
    width: 461px;
    height: 302px;
}

.CurrentChannelBox {
	height: 44px;
	margin-bottom: 20px;
	height: 40px;
	padding-top: 4px;
	padding-left: 9px;
	padding-right: 4px;
	padding-bottom: 0px;
}

.CurrentChannelBox > div > p{
	margin-top: 0px;
	margin-bottom: 0px;
}

.CurrentChannelBox .black{
	color:black;
}
