<tr class="fields">
  <td class="offsetColumn"><%= number_field_tag :offset %></td>
  <td><%= text_area_tag :text %></td>
  <td><%= link_to_add_fields "add message", f, :messages, :class => "causesPendingSaveNoticeOnClick" %></td>
</tr>