<p class="Title">Reminders</p>

<table class="GralTable TwoColumn CleanTable">
  <tr>
    <th span = "2">My reminders</th>
  </tr>

  <% @schedules.each do |schedule| %>
    <tr>
      <td><%= link_to schedule.title, edit_schedule_path(schedule) %></td>
      <td><%= button_to '',
                schedule_path(schedule),
                :confirm => 'Are you sure?',
                :method => :delete,
                :type => 'button',
                :class => 'icon cremove' %></td>
    </tr>
  <% end %>

  <tr>
    <td>New Schedule</td>
    <td><%= button_to '',
                new_schedule_path,
                :type => 'button',
                :class => 'icon cadd' %></td>
  </tr>
</table>

<br />

<%= render :partial => 'shared/user_channel' %>
