<script type="text/javascript">
	function updateLocalGatewaySelectionPath(){
		if ($('input[name=localGateway]:radio:checked').val() == 'android') {
			gateway = 'show_android_local_gateway';
		} else {
			gateway = 'show_desktop_local_gateway';
		}
		$('#next').attr('href', ($('#next').attr('href').replace("show_local_gateway", gateway)));
	};
</script>

<div class="box plain grey w60">
	 <div class="steps-line">
	     <div class="steps-container s4">
	         <span class="circle first green"><span class="inner"><span class="step-name">Choose</span></span></span>
	         <span class="line-fill"></span><span class="circle"><span class="inner"><span class="step-name">Install</span></span></span>
	         <span class="line-fill"></span><span class="circle"><span class="inner"><span class="step-name">Connect</span></span></span>
	         <span class="line-fill"></span><span class="circle last"><span class="inner"><span class="step-name">Finish</span></span></span>
	     </div><!-- #steps-container-->
	</div><!-- #steps-line-->
</div><!-- #box plain grey -->

<div class="ChannelWizard">
	<h1>Choose your type of mobile phone</h1>
	
	<input type="radio" checked="" name="localGateway" value="android" id="androidLocalGateway" class="left">
	<div class="left AndroidLogo"></div>
	<%= label_tag :androidLocalGateway, "Android mobile phone" , :class => "left" %>
	<p class="w30 clear description">If you have an Android powered mobile phone, you don't need a computer to set up your schedules. Just download the application, enter your text messages, and set your delivery schedule, Remindem handles the rest.</p>
	<input type="radio" name="localGateway" value="desktop" id="desktopLocalGateway" class="left">
	<div class="left DesktopLogo"></div>
	<%= label_tag :desktopLocalGateway, "Other mobile phone", :class => "left" %>
	<p class="w30 clear description">If you use another type of mobile phone all you need to do is plug your phone into your computer and bridge the gap between your text messages and the internet application that sends them out.</p>
</div>
<hr>
<%# I redraw the schedules index instead of rendering the initial partial because this way works without javascript enabled too %>
<div class="ChannelWizardNavigation">
	<%=link_to 'Back', schedules_path, :class => 'button white' %>
	<%=link_to 'Next', new_channel_path(:show_local_gateway => true), :remote => true, :class => 'button grey', :onclick => "updateLocalGatewaySelectionPath();", :id => "next" %>
</div>