<div class="box plain grey w60">
	 <div class="steps-line">
	     <div class="steps-container s4">
	         <span class="circle first green"><span class="inner"><span class="step-name">Choose</span></span></span>
	         <span class="line-fill green"></span><span class="circle green"><span class="inner"><span class="step-name">Install</span></span></span>
	         <span class="line-fill"></span><span class="circle"><span class="inner"><span class="step-name">Connect</span></span></span>
	         <span class="line-fill"></span><span class="circle last"><span class="inner"><span class="step-name">Finish</span></span></span>
	     </div><!-- #steps-container-->
	</div><!-- #steps-line-->
</div><!-- #box plain grey -->
<div class="ChannelWizard">
	<h1 class="orange">Go to Android Market and install Nuntium Local Gateway</h1>
	<p class="w30 grey">Use the following QR code to access the app or use the search engine with the keyword <span class="box plain grey">Nuntium</span></p>
	<br>
	<div class="AndroidQR"></div><br>
	<a href="market.android.com/details?id=org.instedd.geochat.lgw">market.android.com/details?id=org.instedd.geochat.lgw</a><br><br>
</div>
<hr>
<%# I redraw the schedules index instead of rendering the initial partial because this way works without javascript enabled too %>
<div class="ChannelWizardNavigation">
	<%=link_to 'Back', new_channel_path(:choose_local_gateway => true), :remote => true, :class => 'button white'%>
	<%=link_to 'Next', new_channel_path(:create_from_android => true), :remote => true, :class => 'button grey' %>
</div>