<div class="box w30">
	Download Local Gateway for Android!
	<br><br>
	<%# I redraw the schedules index instead of rendering the initial partial because this way works without javascript enabled too %>
	<%=link_to 'Back', schedules_path %>
	<%=link_to 'Next', new_channel_path, :remote => true %>
</div>