<div class="box plain grey w60">
	 <div class="steps-line">
	     <div class="steps-container s4">
	         <span class="circle first green"><span class="inner"><span class="step-name">Choose</span></span></span>
	         <span class="line-fill green"></span><span class="circle green"><span class="inner"><span class="step-name">Install</span></span></span>
	         <span class="line-fill green"></span><span class="circle green"><span class="inner"><span class="step-name">Connect</span></span></span>
	         <span class="line-fill"></span><span class="circle last"><span class="inner"><span class="step-name">Finish</span></span></span>
	     </div><!-- #steps-container-->
	</div><!-- #steps-line-->
</div><!-- #box plain grey -->
<%= errors_for @channel %>
<% form_for :channel, :url => { :action => :create }, :remote => true do |f| %>
<div class="ChannelWizard">
	<h1 class="orange">Enter the gateway code from your mobile phone</h1>
	<div class="AndroidScreen left"></div><br>
	<div class="GreyArrow AndroidArrow left"></div><br>
	<div class="left AndroidChannelCreation">
		<p class="w30">Copy the code for automated setup from the Nuntium Local Gateway in here to bind your local gateway to your reminders.</p>
		<%= f.text_field :code, :placeholder => 'Enter gateway code', :size => 19 %>
	</div>
</div>
	<hr>
	<div class="ChannelWizardNavigation">
		<%=link_to 'Back', new_channel_path(:download_android_local_gateway), :remote => true, :class => 'button white' %>
		<button type="submit" class="grey">Next</button>
	</div>
<% end %>
