<div class="LocalGatewayBox box">
	<div class="LocalGatewayLogo left"></div>
	<div class="LocalGatewayText left">will help you to send reminders from your mobile phone, <%= link_to 'learn More', tour_path(1) %>.</div>
	<div class="LocalGatewayArrow left"></div>
	<%=link_to 'Add a channel', new_channel_path(:choose_local_gateway), :remote => true, :class => 'button orange right'%>
</div>