<%= errors_for @invalid_channel %>
<div class="user_channel">
  <% if current_user.channel.nil? %>
	<%= render :partial => 'channel/no_channel' %>
  <% else %>
	<%= render :partial => 'channel/show_current_channel' %>
  <% end %>
</div>