/* line 3, ../sass/foo.scss */
.footer {
  color: #111111;
}
/* line 7, ../sass/foo.scss */
.footer a {
  color: #f00;
}

/* line 13, ../sass/foo.scss */
.sdfsdf {
  color: white;
}

/* line 3, ../sass/_tablita.scss */
.tablita th {
  color: blue;
}
/* line 6, ../sass/_tablita.scss */
.tablita td {
  color: marron;
}

/* ejemplo de como reusar css */
/* line 24, ../sass/foo.scss */
div.imp {
  color: red;
  background-color: orange;
}

/* line 28, ../sass/foo.scss */
.sdfs a {
  color: red;
  background-color: orange;
}

/* ejemplo de bottons con hover */
/* line 46, ../sass/foo.scss */
button {
  background-position: 0px 0px;
}
/* line 37, ../sass/foo.scss */
button:hover {
  background-position: -90px;
}
/* line 41, ../sass/foo.scss */
button:active {
  background-position: 0px -180px;
}

/* line 50, ../sass/foo.scss */
.buttonChiquito {
  background-position: 0px 0px;
}
/* line 37, ../sass/foo.scss */
.buttonChiquito:hover {
  background-position: -40px;
}
/* line 41, ../sass/foo.scss */
.buttonChiquito:active {
  background-position: 0px -80px;
}
