/*body {
	font: 0.8em/21px arial,sans-serif;
}

.checkbox, .radio {
	width: 19px;
	height: 25px;
	padding: 0 5px 0 0;
	background: url(../images/combobox/checkBox.png) no-repeat;
	display: block;
	clear: left;
	float: left;
}
.radio {
	background: url(../images/radioButton/radio.png) no-repeat;
}
.select {
	position: absolute;
	width: inherit; 
	height: 26px;
	padding: 0 0 0 8px;
	color: #000000;
	font: 14px/21px arial,sans-serif;
	background: url(../images/combobox/white.png) no-repeat right top;
	overflow: hidden;
	-moz-border-radius:4px 0 0 4px; -webkit-border-radius:4px 0 0 4px; border-radius:4px 0 0 4px
}
.pulldown:hover .select{ background: url(../images/combobox/white.png) no-repeat right -39px }
select.styled { width:inherit; height:26px; cursor:pointer }

