<%= render "schedules/schedule_tabs_and_title", :schedule => Schedule.find(params[:schedule_id]) %>

<div id="container">
	<h1>Subscribers</h1>
	<div class="tablewrapp">
		<table class="GralTable ButtonTable">
			<tr>
				<th>Phone number</th>
				<th>Subscribed</th>
				<th></th>
			</tr>

			<% @subscribers.each do |subscriber| %>
			<tr>
				<td><%= subscriber.phone_number %></td>
				<td><%= time_ago_in_words subscriber.subscribed_at %></td>
				<td>
					<%=
						link_to '',
						schedule_subscriber_path(Schedule.find(params[:schedule_id]), subscriber),
						:class => "cremove",
						:confirm => 'Are you sure?',
						:method => :delete
					%>
				</td>
			</tr>
			<% end %>	
		</table>
	</div>
	<br><br><br>
</div>