<div id="container">
   	
       <h1>Logs</h1>
  
   <div class="tablewrapp">
       <table class="GralTable ButtonTable">
           <tr>
               <th>Severity</th>
               <th>Text</th>
               <th>Timestamp</th>
           </tr>
<% @logs.each do |log| %>
           <tr>
			    <td><label class=<%= "#{log.severity.to_s}" %>><%= log.severity.to_s.capitalize %></td>
			    <td><%= log.description %></td>
			    <td><%= log.created_at.strftime "%b %d %Y, %H:%M:%S" %></td>
           </tr>
<% end %>
       </table>
  </div>
   
   <br><br><br>

</div>
