.flash {
  position: absolute;
  white-space: nowrap;
  top: 0px;
  padding: 5px 15px;
  display: inline-block;
  border-radius: 0px 0px 5px 5px;
}

.flash_notice {
  background-color: #e6faa9;
  color: $green;
}

.flash_error {
  background-color: #ffee9e;
  color: $orange;
}