
.field { 
  margin: 0px 0px 19px 0px; 
  label { 
    font-size: 14px; 
    display: block;
    color: $darkgray; 
  }
  p { 
    font-size: 12px;
    padding:0; 
    margin:2px 0px 5px 0px;
    color: $darkgray;
  }
  label.radio, label.checkbox {
    display: inline;
    margin-left: 4px;
    color: $black;
  }
}

.actions {
  padding-bottom: 20px;
}