
hr + h2 {
  margin: 30px 0px 15px 0px;
}

.field { 
  margin: 0px 0px 19px 0px; 
  label { 
    font-size: 14px; 
    display: block;
    color: $darkgray; 
  }
  p { 
    font-size: 12px;
    padding:0; 
    margin:2px 0px 5px 0px;
    color: $darkgray;
  }
  label.radio, label.checkbox {
    display: inline;
    margin-left: 4px;
    color: $black;
    cursor: pointer;
  }
}

hr + .actions {
  padding: 14px 0px;
}

.actions {  
  padding: 0px 0px 14px 0px;
  a { 
    color: $darkgray; 
    text-decoration: none;
    padding: 5px 8px;
    &:hover { color: $darkgray_hover; }
  }
}