
@mixin pagesize {
  width: 960px;
  margin-left: auto;
  margin-right: auto;
}

@mixin gray-degrade {
  @include degrade();
}

@mixin degrade($from:#ffffff, $to:#d0d0d0) {
  background: $from /* Old browsers */;
  background: -moz-linear-gradient(top, $from 0%, $to 100%) /* FF3.6+ */;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,$from), color-stop(100%,$to)) /* Chrome,Safari4+ */;
  background: -webkit-linear-gradient(top, $from 0%,$to 100%) /* Chrome10+,Safari5.1+ */;
  background: -o-linear-gradient(top, $from 0%,$to 100%) /* Opera11.10+ */;
  background: -ms-linear-gradient(top, $from 0%,$to 100%) /* IE10+ */;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$from', endColorstr='$to',GradientType=0) /* IE6-9 */;
  background: linear-gradient(top, $from 0%,$to 100%) /* W3C */;
}


@mixin button-states($imageHeight) {
  background-repeat: no-repeat;
  background-position-x: 0px;
  background-position-y: 0px;
  &:hover {
    background-position-y: -$imageHeight;
  }
  &:active {
    background-position-y: -2*$imageHeight;
  }
}