<div class ="centered w50">
  <h2>
    <div class="i48grad-message"></div>
    Almost there!
  </h2>
  <p>You have signed up successfully. However, we could not sign you in because your account is unconfirmed. We have just sent an email to <%= @email %> with an activation link. Open the activation link and start using Remindem!</p>
</div>